---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageRepository
metadata:
  name: govee2mqtt
spec:
  image: ghcr.io/wez/govee2mqtt
  interval: 4h0m
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: govee2mqtt
spec:
  imageRepositoryRef:
    name: govee2mqtt
  filterTags:
    # Tags wie 2025.11.07-d5887028
    pattern: '^(?P<y>\d{4})\.(?P<m>\d{2})\.(?P<d>\d{2})-[0-9A-Fa-f]+$'
    extract: '$y$m$d' # ergibt z. B. 20251107 (numerisch)
  policy:
    numerical:
      order: asc
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: govee2mqtt
spec:
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: salty-bot@no-reply.com
        name: Salty Bot
      messageTemplate: '{{range .Changed.Changes}}{{println .}}{{end}}'
    push:
      branch: main
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: homeassistant
    namespace: flux-system
  update:
    path: ./k8s
    strategy: Setters