---
apiVersion: image.toolkit.fluxcd.io/v1 #beta1
kind: ImageRepository
metadata:
  name: zigbee2mqtt
spec:
  image: koenkk/zigbee2mqtt
  interval: 4h0m
---
apiVersion: image.toolkit.fluxcd.io/v1 #beta1
kind: ImagePolicy
metadata:
  name: zigbee2mqtt
spec:
  imageRepositoryRef:
    name: zigbee2mqtt
  policy:
    semver:
      range: 1.x.x
---
apiVersion: image.toolkit.fluxcd.io/v1 #beta2
kind: ImageUpdateAutomation
metadata:
  name: zigbee2mqtt
spec:
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: salty-bot@no-reply.com
        name: Salty Bot
      messageTemplate: '{{range .Changed.Changes}}{{println .}}{{end}}'
    push:
      branch: main
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: homeassistant
    namespace: flux-system
  update:
    path: ./k8s
    strategy: Setters
