---
apiVersion: image.toolkit.fluxcd.io/v1 #beta1
kind: ImageRepository
metadata:
  name: mosquitto
spec:
  image: eclipse-mosquitto
  interval: 4h0m
---
apiVersion: image.toolkit.fluxcd.io/v1 #beta1
kind: ImagePolicy
metadata:
  name: mosquitto
spec:
  imageRepositoryRef:
    name: mosquitto
  policy:
    semver:
      range: 2.x.x
---
apiVersion: image.toolkit.fluxcd.io/v1 #beta1
kind: ImageUpdateAutomation
metadata:
  name: mosquitto
spec:
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: salty-bot@no-reply.com
        name: Salty Bot
      messageTemplate: '{{range .Updated.Images}}{{println .}}{{end}}'
    push:
      branch: main
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: homeassistant
    namespace: flux-system
  update:
    path: ./k8s
    strategy: Setters